.container {
    text-align: center;
}

.questionContainer {
    display: flex;
    justify-content: space-between;
}

.answerButton:hover {
    cursor: default;
    background-color: #007bff;
    border-color: #007bff;
}